<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requirement">
            <h2><span>Requirement</span> {{ requirement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Requirement Name</span></dt>
                <dd>
                    <span>{{ requirement.requirementName }}</span>
                </dd>
                <dt><span>Job</span></dt>
                <dd>
                    <div *ngIf="requirement.job">
                        <a [routerLink]="['/job', requirement.job?.id, 'view']">{{ requirement.job?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/requirement', requirement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
