<div>
    <h2 id="page-heading">
        <span>Requirements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requirement" [routerLink]="['/requirement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Requirement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="requirements?.length === 0">
        <span>No requirements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="requirements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Requirement Name</span></th>
                    <th scope="col" ><span>Job</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requirement of requirements ;trackBy: trackId">
                    <td><a [routerLink]="['/requirement', requirement.id, 'view']">{{ requirement.id }}</a></td>
                    <td>{{ requirement.requirementName }}</td>
                    <td>
                        <div *ngIf="requirement.job">
                            <a [routerLink]="['/job', requirement.job?.id, 'view']" >{{ requirement.job?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/requirement', requirement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/requirement', requirement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(requirement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
