<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobDetails">
            <h2><span>Job Details</span> {{ jobDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Difficulty</span></dt>
                <dd>
                    <span>{{ jobDetails.difficulty }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ jobDetails.description }}</span>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of jobDetails.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-details', jobDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
