<div>
    <h2 id="page-heading">
        <span>User Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-details" [routerLink]="['/user-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userDetails?.length === 0">
        <span>No userDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Profile Picture</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Rating</span></th>
                    <th scope="col" ><span>Job Postings</span></th>
                    <th scope="col" ><span>Job Completions</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userDetails of userDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/user-details', userDetails.id, 'view']">{{ userDetails.id }}</a></td>
                    <td>{{ userDetails.profilePicture }}</td>
                    <td>{{ userDetails.description }}</td>
                    <td>{{ userDetails.rating }}</td>
                    <td>{{ userDetails.jobPostings }}</td>
                    <td>{{ userDetails.jobCompletions }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-details', userDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
