<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userDetails">
            <h2><span>User Details</span> {{ userDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Profile Picture</span></dt>
                <dd>
                    <span>{{ userDetails.profilePicture }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ userDetails.description }}</span>
                </dd>
                <dt><span>Rating</span></dt>
                <dd>
                    <span>{{ userDetails.rating }}</span>
                </dd>
                <dt><span>Job Postings</span></dt>
                <dd>
                    <span>{{ userDetails.jobPostings }}</span>
                </dd>
                <dt><span>Job Completions</span></dt>
                <dd>
                    <span>{{ userDetails.jobCompletions }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
