<script type="text/javascript">

</script>
<div class="row">
    <div class="col-md-3">
        <div>
            <span class="dog img-fluid rounded"></span>
            <span class="rake img-fluid rounded"></span>
        </div>
    </div>
    <div class="col-md-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-heading" class="text-center">Create or edit a Job</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobName">Job Title</label>
                    <input type="text" class="form-control" name="jobName" id="field_jobName"
                           formControlName="jobName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payAmt">Payment Amount (in USD)</label><br>
                    <label class="form-control-label" for="field_payAmt">$</label>
                    <span class="cost"><input type="number" min="0" placeholder="0.00" class="form-control" name="payAmt" id="field_payAmt"
                                 formControlName="payAmt"/></label></span>

                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payType">How will the worker be paid?</label>
                    <select class="form-control" name="payType" formControlName="payType" id="field_payType">
                        <option value="HOURLY">Hourly</option>
                        <option value="DAILY">Daily</option>
                        <option value="JOBCOMPLETION">When the job is completed</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_jobDesc">Job Description</label>
                    <textarea class="form-control" id="field_jobDesc" name="jobDesc" formControlName="jobDesc" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_jobReq">Job Requirements:</label>
                    <ul>
                        <li *ngFor="let req of jobReqs">{{req}}</li>
                    </ul>
                    <div class="form-inline">
                        <input type="text" class="form-control" name="jobReq" id="field_jobReq"
                               formControlName="jobReq"/>
                        <button type="button" id="add-req" class="btn btn-primary btn-sm" (click)="addReq()">
                            <fa-icon icon="plus"></fa-icon>Add Requirement
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <span class="paint img-fluid rounded"></span>
    </div>
</div>
