<div class="row justify-content-center">
    <div class="col-md-3">
        <div>
            <span class="dog img-fluid rounded"></span>
            <span class="rake img-fluid rounded"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div *ngIf="job" class="text-center">
            <h1>{{ job.jobName }}</h1>
            <h4>Posted by: <a [routerLink]="['/job/user', job.user.login]">{{job.user.login}}</a></h4>
            <h6>User Rating: 3.7</h6>

            <button type="button"
                    (click)="fulfill(job)"
                    class="btn btn-success" *ngIf="isMyJob(job) && !job.fulfilled">
                <fa-icon icon="check"></fa-icon>&nbsp;<span>Mark as completed</span>
            </button>

            <div *ngIf="job.fulfilled">
                <h1 class="text-danger">Completed by: <a [routerLink]="['/job/user', job.fulfilledUser.login]">{{job.fulfilledUser.login}}</a></h1>
            </div>
            <hr>

            <jhi-alert-error></jhi-alert-error>
            <div *ngIf="job.requestUsers && !job.fulfilled && isMyJob(job)">
                <h4>User requests</h4>
                <div class="col-md-4 offset-md-4">
                <ul class="text-left">
                    <li *ngIf="job.requestUsers.length < 1">No User Requests yet</li>
                    <li *ngFor="let user of job.requestUsers">User: {{user.login}} <a [href]="['mailto:', user.email]">Email</a></li>
                </ul>
                </div>
            </div>
            <dl class="row-md jh-entity-details">
                <div class="side-by-side">
                    <div class="col-md-6">
                        <dt><span>Job Description</span></dt>
                        <dd>
                            <span>{{ job.jobDesc }}</span>
                        </dd>
                    </div>
                    <div class="col-md-6">
                        <dt><span>Job Requirements:</span></dt>
                        <dd>
                            <ul class="text-left"  *ngIf="job.requirements.length > 0">
                                <li *ngFor="let req of job.requirements">{{ req.requirementName }}</li>
                            </ul>
                            <ul class="text-left" *ngIf="job.requirements.length < 1">
                                <li>No requirements</li>
                            </ul>
                        </dd>
                    </div>
                </div>
                <dt><span>How will you be paid?</span></dt>
                <dd>
                    <span>{{ formatPayType(job.payType) }}</span>
                </dd>
                <dt><span>Payment amount {{ formatPayType(job.payType) }}</span></dt>
                <dd>
                    <span>$ {{ job.payAmt }}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{ job.jobLocation }}</span>
                </dd>
                <div *ngIf="job.tags.length > 0">
                <dt><span>Tags</span></dt>
                <dd>
                    <ul class="hori">
                            <li *ngFor="let tag of job.tags"><a [routerLink]="['/job/tag', tag.id]">{{ tag.tagName }}</a></li>
                    </ul>
                </dd>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-warning" *ngIf="isMyJob(job) && !job.fulfilled">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
            <button type="button"
                    (click)="requestJob(job)"
                    class="btn btn-primary" *ngIf="!isMyJob(job) && isNotRequested(job) && !isRequesting">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Request Job</span>
            </button>
            <button type="button"
                    (click)="remRequestJob(job)"
                    class="btn btn-danger" *ngIf="!isMyJob(job) && !isNotRequested(job) && !isRequesting">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Withdraw Request</span>
            </button>
        </div>
    </div>
    <div class="col-md-3">
        <span class="paint img-fluid rounded"></span>
    </div>
</div>
