<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-heading">Create or edit a Job</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_jobName">Job Name</label>
                    <input type="text" class="form-control" name="jobName" id="field_jobName"
                           formControlName="jobName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payType">Pay Type</label>
                    <select class="form-control" name="payType" formControlName="payType" id="field_payType">
                        <option value="HOURLY">HOURLY</option>
                        <option value="DAILY">DAILY</option>
                        <option value="JOBCOMPLETION">JOBCOMPLETION</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payAmt">Pay Amt</label>
                    <input type="number" class="form-control" name="payAmt" id="field_payAmt"
                           formControlName="payAmt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_jobDetails">Job Details</label>
                    <select class="form-control" id="field_jobDetails" name="jobDetails" formControlName="jobDetails">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jobDetailsOption.id === editForm.get('jobDetails')!.value?.id ? editForm.get('jobDetails')!.value : jobDetailsOption" *ngFor="let jobDetailsOption of jobdetails; trackBy: trackById">{{ jobDetailsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_newUser">New User</label>
                    <select class="form-control" id="field_newUser" name="newUser" formControlName="newUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="newUserOption.id === editForm.get('newUser')!.value?.id ? editForm.get('newUser')!.value : newUserOption" *ngFor="let newUserOption of newusers; trackBy: trackById">{{ newUserOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
