<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="job">
            <h2><span>Job</span> {{ job.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Job Name</span></dt>
                <dd>
                    <span>{{ job.jobName }}</span>
                </dd>
                <dt><span>Pay Type</span></dt>
                <dd>
                    <span>{{ job.payType }}</span>
                </dd>
                <dt><span>Pay Amt</span></dt>
                <dd>
                    <span>{{ job.payAmt }}</span>
                </dd>
                <dt><span>Job Details</span></dt>
                <dd>
                    <div *ngIf="job.jobDetails">
                        <a [routerLink]="['/job-details', job.jobDetails?.id, 'view']">{{ job.jobDetails?.id }}</a>
                    </div>
                </dd>
                <dt><span>New User</span></dt>
                <dd>
                    <div *ngIf="job.newUser">
                        <a [routerLink]="['/new-user', job.newUser?.id, 'view']">{{ job.newUser?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
