<div>
    <h2 id="page-heading" class="text-center">
        <span *ngIf="!viewUserJobs && !viewSearch">Jobs <span *ngIf="viewTag">with tag: {{viewTagName}}</span></span>
        <span *ngIf="viewUserJobs && viewUserId === user.id">My Job Listings</span>
        <span *ngIf="viewUserJobs && viewUserId !== user.id">Jobs Posted By: {{ jobsPostedBy() }}</span>
        <span *ngIf="viewSearch">Jobs Containing: "{{ viewSearchKey }}"</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job" [routerLink]="['/job/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Job
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    <div *ngIf="viewUserJobs && viewUserId === user.id" class="text-right">
        <label for="showFulfilled">Show finished jobs?</label>
        <input type="checkbox" id="showFulfilled" (click)="toggleShowFulfilled()"/>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="jobs?.length === 0">
        <span>No jobs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobs?.length > 0">
        <table class="table table-bordered table-hover" aria-describedby="page-heading">
            <thead class="thead-dark">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" *ngIf="!viewUserJobs"><span>Job Title</span></th>
                    <th scope="col" jhiSortBy="jobName" *ngIf="viewUserJobs"><span>Job Title</span><fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Posted By</span></th>
                    <th scope="col" *ngIf="!viewUserJobs"><span>Location</span></th>
                    <th scope="col" jhiSortBy="jobLocation" *ngIf="viewUserJobs"><span>Location</span><fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="payAmt"><span>Pay Amt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Tags</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let job of jobs ;trackBy: trackId">
                    <td><a [routerLink]="['/job', job.id, 'view']">{{ job.jobName }}</a></td>
                    <td *ngIf="job.user" class="small-cell"><a [routerLink]="['/job/user', job.user.login]">{{ job.user.login }}</a><br>Rating: 3.7</td>
                    <td *ngIf="!job.user" class="small-cell">Unknown</td>
                    <td>{{ job.jobLocation }}</td>
                    <td>${{ job.payAmt }} {{formatPayType(job.payType)}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let tag of job.tags">
                                <a [routerLink]="['/job/tag', tag.id]">{{ tag.tagName }}</a>
                            </li>
                        </ul>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job', job.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View Details</span>
                            </button>
                            <div *ngIf="!isMyJob(job)">
                            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job', job.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit" (click)="delete(job)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="trash-alt"></fa-icon>
                            </button>
                            </div>
                            </div>
                            <div *ngIf="isMyJob(job)" class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/job', job.id, 'edit']"
                                        class="btn btn-primary btn-sm" *ngIf="!job.fulfilled">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit" (click)="delete(job)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="trash-alt"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isMyJob(job) && !job.fulfilled">
                            <br>
                            <fa-icon icon="check"></fa-icon><a href="javascript:void(0)" (click)="fulfill(job)">Mark as completed</a>
                        </div>
                        <div *ngIf="isMyJob(job) && job.fulfilled">
                            <br>
                            <fa-icon icon="check"></fa-icon><span class="job-completed">Job completed by: <a [routerLink]="['/job/user', job.fulfilledUser.login]">{{job.fulfilledUser.login}}</a></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
