<div class="row">
    <div class="col-md-3">
        <div>
            <span class="dog img-fluid rounded"></span>
            <span class="rake img-fluid rounded"></span>
        </div>
    </div>

    <div class="col-md-6">
        <h1 class="display-1 text-center">Odd Jobs</h1>

        <p class="lead text-center">Your site for creating and fulfilling job listings!</p>

        <div [ngSwitch]="isAuthenticated()" class="text-center">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <button type="button" class="btn btn-primary" *ngSwitchCase="false">Login</button>

            <button type="button" class="btn btn-primary" *ngSwitchCase="false">Register</button>
        </div>
    </div>
    <div class="col-md-3">
        <span class="paint img-fluid rounded"></span>
    </div>
</div>
